In [8]:
from pytdx.hq import TdxHq_API
from pytdx.params import TDXParams
api = TdxHq_API()
if api.connect('123.125.108.14', 7709):
    # ... same codes...
    print(2333)
    #api.disconnect()
# data =api.to_df(api.get_security_bars(7,0, '000001', 0, 240))
# data

2333

In [9]:
# data=api.get_transaction_data(TDXParams.MARKET_SZ, '000001', 0, 30)
# data

In [10]:
data=api.to_df(api.get_security_bars(7,1, '510050', 0, 240))
data

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime
0,3.204,3.204,3.205,3.203,6168700.0,19766016.0,2021,7,29,14,39,2021-07-29 14:39
1,3.203,3.204,3.205,3.203,1624400.0,5204224.0,2021,7,29,14,40,2021-07-29 14:40
2,3.204,3.206,3.206,3.203,1819900.0,5832192.0,2021,7,29,14,41,2021-07-29 14:41
3,3.205,3.206,3.206,3.205,4395500.0,14090240.0,2021,7,29,14,42,2021-07-29 14:42
4,3.206,3.205,3.207,3.205,9872400.0,31646976.0,2021,7,29,14,43,2021-07-29 14:43
...,...,...,...,...,...,...,...,...,...,...,...,...
235,3.170,3.170,3.171,3.170,1089600.0,3454720.0,2021,7,30,14,34,2021-07-30 14:34
236,3.170,3.171,3.171,3.170,1837500.0,5825920.0,2021,7,30,14,35,2021-07-30 14:35
237,3.172,3.175,3.175,3.172,1355700.0,4301440.0,2021,7,30,14,36,2021-07-30 14:36
238,3.174,3.175,3.175,3.174,822800.0,2612096.0,2021,7,30,14,37,2021-07-30 14:37
239,3.175,3.175,3.175,3.174,158600.0,503552.0,2021,7,30,14,38,2021-07-30 14:38