In [39]:
import pandas as pd
import os

path_root = os.getcwd()
os.getcwd()
data = pd.read_csv(path_root + "/datas/47.csv",dtype='str')
data.drop(['结算价'],axis=1, inplace=True)
data['datetime']=data['日期']+" "+data['时间']

data['datetime']=pd.to_datetime(data['datetime'])
data

,日期,时间,开盘,最高,最低,收盘,成交量,持仓量,datetime
0,2021/02/01,0935,5355.0,5366.4,5345.4,5346.4,5530,79622,2021-02-01 09:35:00
1,2021/02/01,0940,5346.2,5386.0,5345.4,5385.6,4879,76947,2021-02-01 09:40:00
2,2021/02/01,0945,5385.6,5387.8,5374.0,5379.4,2768,75620,2021-02-01 09:45:00
3,2021/02/01,0950,5376.0,5378.6,5365.0,5374.8,2561,74435,2021-02-01 09:50:00
4,2021/02/01,0955,5375.2,5382.0,5368.4,5369.2,1470,73649,2021-02-01 09:55:00
...,...,...,...,...,...,...,...,...,...
5755,2021/07/30,1440,4777.2,4785.0,4777.2,4778.0,1170,91350,2021-07-30 14:40:00
5756,2021/07/30,1445,4778.0,4781.4,4773.4,4779.2,1233,91744,2021-07-30 14:45:00
5757,2021/07/30,1450,4779.2,4779.2,4771.8,4773.2,1314,92321,2021-07-30 14:50:00
5758,2021/07/30,1455,4773.0,4775.0,4766.6,4773.2,2108,93503,2021-07-30 14:55:00
5759,2021/07/30,1500,4773.8,4776.8,4773.2,4773.6,2581,94608,2021-07-30 15:00:00