In [1]:
import akshare as ak

In [3]:
#沪深300成分股
index_stock_cons_df = ak.index_stock_cons(index="000300")
index_stock_cons_df

       品种代码  品种名称        纳入日期
0    601799  星宇股份  2021-06-15
1    603806   福斯特  2021-06-15
2    600132  重庆啤酒  2021-06-15
3    000800  一汽解放  2021-06-15
4    600521  华海药业  2021-06-15
..      ...   ...         ...
295  000157  中联重科  2005-04-08
296  000069  华侨城A  2005-04-08
297  000063  中兴通讯  2005-04-08
298  000001  深发展A  2005-04-08
299  000002   万科A  2005-04-08

[300 rows x 3 columns]

In [4]:
index_stock_info_df = ak.index_stock_info()
print(index_stock_info_df)

    index_code display_name publish_date
0       000001         上证指数   1991-07-15
1       000002         A股指数   1992-02-21
2       000003         B股指数   1992-02-21
3       000004         工业指数   1993-05-03
4       000005         商业指数   1993-05-03
..         ...          ...          ...
693     399994   中证信息安全主题指数   2015-03-12
694     399995     中证基建工程指数   2015-03-12
695     399996     中证智能家居指数   2014-09-17
696     399997       中证白酒指数   2015-01-21
697     399998       中证煤炭指数   2015-02-13

[698 rows x 3 columns]

In [ ]:
#期权日
option_sina_sse_daily_df = ak.option_sina_sse_daily(code="10003462")
print(option_sina_sse_daily_df)

In [7]:
#期权分钟
option_sina_finance_minute_df = ak.option_sina_finance_minute(code="10003462")
print(option_sina_finance_minute_df)

            date      time   price average_price volume
0     2021-07-28  09:26:00  0.0704        0.0704      0
1     2021-07-28  09:27:00  0.0704        0.0704      0
2     2021-07-28  09:28:00  0.0704        0.0704      0
3     2021-07-28  09:29:00  0.0704        0.0704      0
4     2021-07-28  09:30:00  0.0757        0.0733   4028
...          ...       ...     ...           ...    ...
1220  2021-08-03  14:56:00  0.0894        0.0831    206
1221  2021-08-03  14:57:00  0.0893        0.0831      0
1222  2021-08-03  14:58:00  0.0893        0.0831      0
1223  2021-08-03  14:59:00  0.0893        0.0831      0
1224  2021-08-03  15:00:00  0.0895        0.0831    464

[1225 rows x 5 columns]

In [7]:

#fund_em_etf_fund_info_df = ak.fund_em_etf_fund_info(fund="510050")
fund_em_etf_fund_info_df = ak.fund_em_etf_fund_info(fund="510300")
fund_em_etf_fund_info_df

            净值日期    单位净值    累计净值   日增长率  申购状态  赎回状态
0     2021-11-05  4.9206  1.9963  -0.53  场内买入  场内卖出
1     2021-11-04  4.9470  2.0061   0.98  场内买入  场内卖出
2     2021-11-03  4.8992  1.9884  -0.37  场内买入  场内卖出
3     2021-11-02  4.9175  1.9952  -1.04  场内买入  场内卖出
4     2021-11-01  4.9694  2.0144  -0.36  场内买入  场内卖出
...          ...     ...     ...    ...   ...   ...
2306  2012-05-25  2.5740  0.9550  -0.54  场内买入  场内卖出
2307  2012-05-21  2.5880  0.9600   0.54  场内买入  场内卖出
2308  2012-05-18  2.5740  0.9550  -2.39  场内买入  场内卖出
2309  2012-05-11  2.6370  0.9780  -2.86  场内买入  场内卖出
2310  2012-05-04  1.0070  1.0070         场内买入  场内卖出

[2311 rows x 6 columns]

In [4]:
df = ak.stock_zh_a_spot_em()
df.drop('序号', axis=1, inplace=True)
df.fillna(0, inplace=True)
df.columns = ['code', 'name', 'close', 'zfp', 'zd', 'volume', 'amount', 'zf', 'high', 'low', 'open', 'pre_close',
              'lb', 'hsl', 'syl_d', 'sjl']
df

,code,name,close,zfp,zd,volume,amount,zf,high,low,open,pre_close,lb,hsl,syl_d,sjl
0,688776,N国光,134.30,161.08,82.86,88672.0,1.228531e+09,54.88,156.00,127.77,150.00,51.44,0.00,55.65,65.53,6.76
1,300187,永清环保,8.80,20.05,1.47,233145.0,2.046244e+08,6.55,8.80,8.32,8.32,7.33,4.83,3.62,62.39,3.81
2,300526,中潜股份,26.75,20.01,4.46,168717.0,4.237652e+08,20.01,26.75,22.29,22.39,22.29,4.92,8.26,-75.92,16.20
3,300929,华骐环保,32.76,20.00,5.46,44612.0,1.419189e+08,15.38,32.76,28.56,28.60,27.30,4.66,23.55,43.06,3.48
4,300815,玉禾田,39.54,20.00,6.59,118936.0,4.481162e+08,20.15,39.54,32.90,32.95,32.95,9.90,10.20,17.39,4.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4623,300006,莱美药业,9.18,-13.23,-1.40,384917.0,3.705925e+08,19.09,10.69,8.67,10.60,10.58,2.88,4.74,149.62,4.26
4624,301031,中熔电气,145.47,-13.66,-23.02,15099.0,2.324865e+08,14.84,168.00,143.00,165.12,168.49,3.22,9.11,133.79,14.20
4625,688219,会通股份,15.52,-15.24,-2.79,54259.0,8.694111e+07,10.76,17.41,15.44,17.33,18.31,3.85,11.99,89.69,4.23
4626,688006,杭可科技,96.86,-17.16,-20.06,88379.0,8.533214e+08,10.06,105.30,93.54,105.20,116.92,7.03,7.90,154.15,14.81
4627,688169,石头科技,920.13,-17.84,-199.86,11652.0,1.134192e+09,16.27,1100.99,918.80,1100.99,1119.99,3.57,2.58,47.06,7.98

In [2]:
dd = ak.stock_zh_a_daily(symbol='sz000001',start_date = '20210910',end_date = '20210911', adjust="qfq")
dd

,date,open,high,low,close,volume,outstanding_share,turnover
0,2021-09-10,18.89,20.77,18.84,20.57,231494528.0,1.940575e+10,0.011929